/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: ;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
}
a:hover{
	text-decoration: none;
}
/* Main CSS Stop */
/*=== Myinfo slider Section Start ===*/
.project-bg{
	background-image: url(../img/bg-1.jpg);
}
.section-padding {
  padding: 100px 0;
}
.single-project-item {
  position: relative;
  text-align: right;
}
.project-text {
  width: 60%;
  background-color: #f96331;
  color: #fff;
  display: inline-block;
  text-align: left;
  padding-left: 280px;
  padding-top: 80px;
  font-size: 18px;
  line-height: 2;
  font-weight: 300;
  padding-right: 50px;
  padding-bottom: 80px;
  margin-top: 200px;
}
.project-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 60%;
  border: 15px solid #fff;
  margin-left: -15px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}
.more-link {
  margin-top: 50px;
}
.more-link a {
  color: #fff;
}
.project-text h3 {
  margin-bottom: 30px;
}
.featured-project-wrap {
  position: relative;
}
.featured-project-wrap h2 {
  position: absolute;
  right: 0;
  width: 33%;
  font-weight: 300;
  top: 60px;
}
.featured-project-wrap h2 span {
  font-size: 50px;
}
/* Carousel CSS */
.owl-carousel .single-project-item {
  overflow: hidden;
}
.featured-projects .owl-dots button:nth-child(1):before {
  content: "01";
}
.featured-projects .owl-dots button:nth-child(2)::before {
  content: "02";
}
.featured-projects .owl-dots button:nth-child(3)::before {
  content: "03";
}
.featured-projects .owl-dots button {
  display: inline-block;
  font-size: 35px;
  font-weight: 300;
  opacity: .6;
  margin-right: 20px;
}
.featured-projects .owl-dots {
  position: absolute;
  left: 0;
  bottom: -14px;
}
.featured-projects .owl-dots button.active {
  color: #f96333;
  opacity: .8;
  font-weight: 500
}
/*=== Myinfo slider Section Stop ===*/